[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Proprk
[access "refs/for/refs/*"]
	read = group user/Proprk
	push = group user/Proprk
	label-Code-Review = -2..+2 group user/Proprk
	label-Verified = -1..+1 group user/Proprk
	rebase = group user/Proprk
	removeReviewer = group user/Proprk
	submit = group user/Proprk
[access "refs/heads/*"]
	read = group user/Proprk
	create = group user/Proprk
	push = +force group user/Proprk
	pushMerge = group user/Proprk
[access "refs/tags/*"]
	push = group user/Proprk
	push = +force group user/Proprk
